/* Reset the default styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Set the font and background colors for the entire page */
body, html {
  font-family: "Roboto Mono", monospace;
  background-color: #9e9e9e;
  min-height: 100vh;
}

/* Style the header */
header {
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

/* Style the navigation menu */
nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-right: 2rem;
}

nav li {
  margin-left: 1em;
}

nav a {
  color: #fff;
  text-decoration: none;
}

/* Style the main content section */
main {
  padding: 2em;
}

.container {
  position: relative;
  min-height: 100vh;
}

h2 {
  display: grid;
  justify-items: center;
}

/* Style the hero image section */
#hero-image {
  background-position: left;
  background-size: cover;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
  text-align: center;
}

#my-logo {
  margin-left: 0;
}

#hero-image h2 {
  font-size: 3em;
  margin-bottom: 0.5em;
}

#hero-image p {
  font-size: 1.5em;
  margin-bottom: 1em;
}

.cta-button {
  background-color: #ff9800;
  color: #333;
  padding: 0.5em 1em;
  width: 8rem;
  margin: auto;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.2s ease-in-out;
}

.cta-button:hover {
  background-color: #333;
  color: #fff;
}

/* Style the featured products section */
#featured-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2em;
}

#featured-products h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.product {
  display: flex;
  flex-direction: column;
  background-color: #dcdcdc96;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
  flex-basis: calc(33.33% - 1em);
  width: 60vw;
  margin-bottom: 2em;
  padding: 1em;
  text-align: center;
  transition: box-shadow 0.2s ease-in-out;
}

.product:hover {
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

.product img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  object-fit: contain;
}

.product h3 {
  font-size: 1.2em;
  margin-top: 1em;
}

.product p {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 0.5em;
  margin-bottom: 1em;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
  width: 100%;
  overflow: hidden;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #ff9800;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: -50px;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: -50px;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* contact page */
form {
  max-width: 70%;
  margin: 20px auto;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

textarea {
  height: 10rem;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

/* Style the footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 1em;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

/* Products page */
.product-container {
  display: flex;
  flex-wrap: wrap;
}

.product {
  flex: 0 0 33.33%;
  padding: 10px;
  margin-left: 5px;
}

.product p {
  font-size: 16px;
}

.product img {
  width: 100%;
  height: auto;
}

.gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.gallery-container img {
  width: 100%;
  height: auto;
}



/* Nav bar */
/* Dropdown menu styles */
.dropdown-menu {
  display: none;
}

#menu-toggle:checked ~ .dropdown-menu {
  display: block;
}

#menu-toggle {
  display: none;
}

#menu-icon {
  display: none;
  color: #ff9800; /* Change the color */
  font-size: 24px;
  padding: 10px;
  background-color: #fff;
  border-radius: 50%; /* Make it circular */
  transition: transform 0.3s ease-in-out; /* Add animation */
}

#menu {
  color: #fff;
  padding: 20px;
  transition: left 0.3s ease-in-out;
}

#menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

#menu ul li {
  margin-bottom: 10px;
}

#menu ul li a {
  color: #fff;
  text-decoration: none;
}

/* Small screens */
@media only screen and (max-width: 750px) {
  #menu ul {
    display: none;
  }
  #menu.active {
    left: 0;
  }
  #menu-toggle {
    display: none;
  }
  #menu-icon {
    display: block;
  }
  .dropdown-menu {
    list-style: none;
  }
  .dropdown-menu li {
    margin-bottom: 5px;
  }
  #my-logo {
    width: 300px;
  }
  footer {
    font-size: 75%;
  }
}

/* Medium screens */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  /* Add your styles here */
}

/* Large screens */
@media only screen and (min-width: 1025px) {
  /* Add your styles here */
}
