/* Reset the default styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Set the font and background colors for the entire page */
body,
html {
  font-family: "Roboto Mono", monospace;
  background-color: #9e9e9e;
  min-height: 100vh;
  min-with: 100vw;
}

/* Style the header */
header {
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

/* Style the navigation menu */
nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-right: 2rem;
}

nav li {
  margin-left: 1em;
}

nav a {
  color: #fff;
  text-decoration: none;
}

/* Style the main content section */
main {
  padding: 2em;
}

.container {
  position: relative;
  min-height: 100vh;
}

h2 {
  display: grid;
  justify-items: center;
}

/* Style the hero image section */
#hero-image {
  background-position: left;
  background-size: cover;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500px;
  text-align: center;
  margin-bottom: 2rem;
}

#my-logo {
  margin-left: 0;
}

#hero-image h2 {
  font-size: 3em;
  margin-bottom: 0.5em;
}

#hero-image p {
  font-size: 1.5em;
  margin-bottom: 1em;
}

.cta-button {
  background-color: #ff9800;
  color: #333;
  padding: 0.5em 1em;
  width: 8rem;
  margin: auto;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.2s ease-in-out;
}

.cta-button:hover {
  background-color: #333;
  color: #fff;
}

/* about me section */

#about h2 {
  margin-bottom: 1rem;
}

#about p {
  margin-bottom: 1rem;
}

.contact-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  width: 30%;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  margin: 1rem auto;
  text-decoration: none;
  font-size: 20px;
}

/* Style the featured products section */
#featured-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2em;
  margin-top: 4rem;
}

#featured-products h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.product {
  display: flex;
  flex-direction: column;
  background-color: #dcdcdc96;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
  flex-basis: calc(33.33% - 1em);
  width: 60vw;
  margin-bottom: 2em;
  padding: 1em;
  text-align: center;
  transition: box-shadow 0.2s ease-in-out;
}

.product:hover {
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

.product img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  object-fit: contain;
}

.product h3 {
  font-size: 1.2em;
  margin-top: 1em;
}

.product p {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 0.5em;
  margin-bottom: 1em;
}

/* contact page */
form {
  max-width: 70%;
  margin: 20px auto;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

textarea {
  height: 10rem;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  width: 100%;
  border-radius: 4px;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

/* Style the footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 1em;
  margin-top: 20px;
  text-align: center;
  position: inherit;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

/* Products page */
.product-page h1 {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-bottom: 3px solid gold;
  margin-bottom: 2rem;
}

.product {
  flex: 0 0 33.33%;
  padding: 10px;
  margin-left: 15px;
}

.product p {
  font-size: 16px;
}

.product img {
  width: 100%;
  height: auto;
}

.gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin-bottom: 20px;
}

.gallery-container img {
  width: 300px; /* Set the desired width */
  height: 300px; /* Set the desired height */
  object-fit: cover; /* Preserve aspect ratio and crop if necessary */
  margin: 15px 10px; /* Optional margin between images */
}

/* Small screens */
@media only screen and (max-width: 750px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
  }

  nav li {
    margin: 0.5rem 0;
  }

  .product {
    flex-basis: 100%;
    width: 100%;
  }

  .product img {
    width: 80%;
    margin: 0 auto;
  }

  .gallery-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    margin-bottom: 10px;
  }

  .gallery-container img {
    width: 75%;
    height: 75%;
    object-fit: cover;
    margin: 0 auto;
  }

  footer {
    font-size: 75%;
  }
}

/* Medium screens */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  /* Add your styles here */
}

/* Large screens */
@media only screen and (min-width: 1025px) {
  /* Add your styles here */
}
